<!DOCTYPE HTML>
<html>
  <head>
    <title>Mingyu Gu</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Webhook Engine</h1>
    <p><a href="https://www.mingyugu.com">Mingyu Gu Blog</a></p>
    <p>当前时间：<%= currentTime %></p>
  </body>
</html>
